# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.12

    working_directory: /go/src/github.com/AtlantPlatform/atlant-go
    environment:
      GO111MODULE: "off"
    steps:
      - checkout
      # Normally, this step would be in a custom primary image;
      - run: go get -u github.com/ethereum/go-ethereum
      - run:
          name: Build binaries
          command: go build
      - run:
          name: Run unit tests
          command: go test -v ./...
      - run:
          name: Build docker image 
          command: docker build -t atlantplatform/atlant-node